
.topbar{
    background-color: rgba(60, 145, 230, 0.5);
    color: rgb(219, 219, 219 , 1);
    height: 6vh;
    font-size: 1.1vw;
    
    line-height: 6vh;
    position: relative;
    padding: 0 8vw;
}
.topbar__contact p, .topbar__utils p{
    margin: 0 16px;
}
.topbar p{
    cursor: pointer;
    transition: all 0.3s;
}

.topbar p:hover{
    transform: scale(1.05);
}

@media only screen and (max-width: 974px) {
    .topbar__contact p span, .topbar__utils p span{
        display: none;
    }
    .topbar__contact p, .topbar__utils p{
        font-size: 2vw;
    }
    .topbar{
        height: 5vh;
        line-height: 5vh;
    }
}