.topbar{
    background-color: #3C91E6;
    color: lightyellow;
    height: 6vh;
    font-size: 1.1vw;
    opacity: 0.7;
    line-height: 6vh;
    position: relative;
    padding: 0 8vw;
}
.topbar__contact p, .topbar__utils p{
    margin: 0 16px;
}

@media only screen and (max-width: 974px) {
    .topbar__contact p span, .topbar__utils p span{
        display: none;
    }
    .topbar__contact p, .topbar__utils p{
        font-size: 2vw;
    }
    .topbar{
        height: 5vh;
        line-height: 5vh;
    }
}